
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.5">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/landing.css">
    <title>Basic Node.jd</title>
</head>
<body>
     <div class="navbar">
         <div class="container">
             <div class="row">
                 <div class="logo">
                    <span class="ppdb">PPDB online</span> 
                 </div>
                 <div class="menu">
                     <a href=".." class="btn" style="margin-right : 40px;">Tentang kami</a>
                     <a href=".." class="btn" style="margin-right: 26px;">Jadwal</a>
                     <a href=".." class="btn btn-primary">Daftar</a>
                 </div>
             </div>
         </div>
     </div>
     <div class="content">
         <div class="row">
             <div class="kol5">
                 <h3 class="hai">HAI MOKLETERS !</h3>
                 <h1 class="ppdbb">PPDB <br><span class="telkom" >SMK TELKOM <br><span class="malang"> MALANG</span></span></h1>
                 <p class="untuk">untuk calon peserta didik baru tahun ajaran 2020/2021 
                    bisa mendaftar melalui website ini atau langsung daftar ke tempat pendaftaran
                </p>
                <a href=".." class="btn btn-sign">Daftar Sekarang</a>
              
             </div>
             <div class="kol7">

             </div>
         </div>
     </div>
    <!-- <section class="sec1">
        <header class="ui container">
            <div class="content size1">
                <h1>Hai Mokleters !</h1>
                <h2>PPDB SMK TELKOM MALANG</h2>
                <p>untuk calon peserta didik baru tahun ajaran 2020/2021 silahkan
                    bisa mendaftar melalui website ini atau langsung daftar ke tempat pendaftaran
                </p>
              
                <div class="ui buttons button">
                    <a href="#" class="ui large red button">Daftar</a>
                </div>
                
            </div>
        </header>
    </section> -->
</body>
</html>