
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/semantic.min.css">
    <link rel="stylesheet" href="css/landing.css">
    <title>Basic Node.jd</title>
</head>
<body>
    <section class="sec1">
        <header class="ui container">
            <div class="content size1">
                <h1>Halo1</h1>
                <h2>Inilah Landing Page anda!</h2>
                <div class="ui buttons button">
                    <a href="#" class="ui large green button">ini adalah tombol hijau</a>
                    <div class="or"></div>
                    <a href="#" class="ui large red button">ini adalah tombol merah</a>
                </div>
                <p>selamat ngoding, dan semoga menyenangkan</p>
            </div>
        </header>
    </section>
</body>
</html>